.form-control {
	padding-right: 100px !important;
}
.form-inline {
	display: flex;
	justify-content: flex-start;
}
.searchBar {
	position: inherit;
	display: flex;
	width: 500px;
	margin-left: none;
	border: none;
	border-radius: 5px;
}
.inputSearchBar {
	width: 100%;
	height: 40px;
	padding: 10px;
	border: none;
	background-color: #ECECEE;
	border-radius: 0px 0px 5px;
	border: none;
	background-image: url('../Assets/search.jpg');

    background-position: 5px 8px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.searchButton {
	border: none;
	background-color: #ECECEC;
	border-radius: 0px;
}
.searchButton button {
	&:focus {
			outline: none;
		}
}

